<div>
	<h2>Create Post</h2>
	<form id='createPost'>
		<label for='title'></label>
		Title:
		<input type='text' id='title' />
		<label for='content'></label>
		Content:
		<input type='text' id='content' />
		<button type='submit'>Submit</button>
	</form>
</div>

<script src='./js/dashboard/createPost.js'></script>