<div class='card'>
	<div class='titleBox'><h2>Create Post</h2></div>
	<form id='createPost'>
		<label for='title'></label>
		<h3>-- Title --</h3>
		<input type='text' id='title' />
		<label for='content'></label>
		<h3>-- Content --</h3>
		<textarea type='text' id='content'></textarea>
		<button type='submit'>Submit</button>
	</form>
</div>

<script src='./js/dashboard/createPost.js'></script>