<h2> Your Created Posts: </h2>
{{#if posts.length}}
	{{#each posts as |post|}}
		<br />
		<div class='card'>
			<div class='title'><a href='/editPost/{{post.id}}'>{{post.title}}</a>
			<p>posted by: {{post.creator}} on {{upDATE post.updatedAt}}</p>
			</div>

		<br />
	{{/each}}
{{/if}}
<a href='/createPost'>+ NEW POST</a>