{{#if postArray.length}}
	{{#each postArray as |post|}}
		<div class='card'>
			<div class='titleBox'>
				<h2 class='cardTitle'>{{post.title}}</h2>
				<p class='cardCreator'>Posted by:
					{{post.creator}}
					on
					{{fixDate post.updatedAt}}</p>
			</div>
			<div class='contentBox'><p>{{post.postBody}}</p></div>
		</div>
	{{/each}}
{{/if}}