<!-- Section for users to login -->
<div>
	<h2>Login</h2>
	<form id='loginForm'>
		<label for='loginName'></label>
		UserName:
		<input type='text' id='loginName' />
		<label for='loginPass'></label>
		Password:
		<input type='text' id='loginPass' />
		<button type='submit'>Submit</button>
	</form>
</div>
<!-- Section to create a new account -->
<div>
	<h2>Create Account:</h2>
	<form id='createForm'>
		<label for='createEmail'></label>
		Email:
		<input type='text' id='createEmail' />
		<label for='createName'></label>
		Username:
		<input type='text' id='createName' />
		<label for='createPass'></label>
		Password:
		<input type='text' id='createPass' />
		<button type='submit'>Submit</button>
	</form>
</div>

<script src='./js/handleAccounts.js'></script>