<!-- Section for users to login -->
<div>
	<h2>Login</h2>
	<form id='loginForm'>
		<label for='loginName'></label>
		UserName:
		<input type='text' id='loginName' />
		<label for='loginPass'></label>
		Password:
		<input type='text' id='loginPass' />
		<button type='submit'>Submit</button>
	</form>
</div>
<a href='/signUp'>Sign Up Instead!</a>

<script src='./js/accounts/login.js'></script>