<!-- Section to create a new account -->
<div>
	<h2>Create Account:</h2>
	<form id='createForm'>
		<label for='createName'></label>
		Username:
		<input type='text' id='createName' />
		<label for='createPass'></label>
		Password:
		<input type='text' id='createPass' />
		<button type='submit'>Sign Up</button>
	</form>
</div>

<a href='/login'>Log In Instead</a>

<script src='./js/accounts/signUp.js'></script>