<!-- Section to create a new account -->
<div class='card'>
	<div class='titleBox'><h2>Create Account:</h2></div>
	<form id='createForm'>
		<label for='createName'></label>
		<h3>-- Username --</h3>
		<input type='text' id='createName' />
		<label for='createPass'></label>
		<h3>-- Password --</h3>
		<input type='password' id='createPass' />
		<button type='submit'>Sign Up</button>
	</form>
	<a class='swap' href='/login'>Login Instead!</a>
</div>

<script src='./js/accounts/signUp.js'></script>